.navContainer{
    max-height: 10vh;
    width: 100%;
    padding: 0.75rem 0;
    background-color: #0B1A2B
}

.navbarContent{
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    max-height: 50px;
    cursor: pointer;
    -webkit-user-drag: none;
}

/* Nav Links */
.navLinksContainer{
    display: flex;
    align-items: center;
    gap: 1.5em;
}

.navLinks{
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    font-size: 1rem;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.navLinks:after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    margin-top: 2px;
    background-color: #ffffff;
}

@media (hover: hover){
    .navLinks:hover:after{
        width: 100%;
        transition: width 0.2s;
    }
}

.activeLink:after{
    width: 100%;
    transition: width 0.3s;
}

/* Nav Actions */
.navActions{
    display: flex;
    align-items: center;
    gap: 1.2em;
}

.searchButton{
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.searchIcon{
    width: 20px;
    height: 20px;
    color: #ffffff;

}

.themeToggle{
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    position: relative;
}

.themeIcon{
    width: 26px;
    height: 26px;
    color: #ffffff;
}

.moon{
    width: 20px;
    height: 20px;
    padding: 0 3px;
    color: #ffffff;
}

.signin{
    padding: 0.5rem 1rem;
    background-color: #B89F7F;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

.userProfile{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #1E293B;
    padding: 10px;
    border-radius: 50%;
}

.userIcon{
    cursor: pointer;
    width: 21px;
    height: 21px;
    color: #ffffff;
}