.searchContainer {
  box-sizing: border-box;
  min-height: 50vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1.5rem;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 6;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--search-overlay-bg);
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
  transform-origin: top center;
}

.firstRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
  gap: 1rem;
}

.logoSearch {
  max-width:  80px;
  margin-right: 1vw;
}

.searchBarContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 69%;
  max-width: 850px;
  height: 3rem;
  border-radius: 9999px;
  box-sizing: border-box;
  border: 1px solid var(--border);
  background-color: var(--input-bg);
}

.searchBarContainer:focus-within {
  border: 1px solid var(--color-accent);
}

.searchBarContainer svg {
  height: 24px;
  padding: 11px;
  border-radius: 50%;
  cursor: pointer;
  color: var(--text);
  transition: background-color 0.3s;
}

.searchIcon {
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.searchBarContainer svg:hover {
  background-color: var(--icon-bg);
}

.searchBarContainer input {
  border: none;
  background: transparent;
  width: 100%;
  font-size: 1rem;
  outline: none;
  color: var(--text);
}

.firstRow button {
  background: none;
  border: none;
  font-size: 1.2rem;
  color: #F5F5F4;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.2s;
}

.popular_searches {
  width: 100%;
  max-width: 850px;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  
}

.popular_searches .term {
  display: inline-block;
  background: var(--bg);
  border: 1px solid var(--border);
  padding: 0.75rem 1.1rem;
  border-radius: 9999px;
  font-size: 1rem;
  color: var(--text);
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  transition: background 0.2s;
}

.popular_searches .term:hover {
  background: var(--color-accent);
  border: 1px solid var(--color-accent);
}

.searchContainer h4 {
  margin: 5vh 0 4vh 0;
  width: 100%;
  max-width: 50rem;
  align-self: center;
  text-align: left;
  color: #F5F5F4;
  font-size: 1rem;
  font-weight: 500;
}

