.loginContainer {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

.backArrow {
    position: absolute;
    top: 5%;
    left: 5%;
    height: 3rem;
    width: 3rem;
    color: var(--text);
    cursor: pointer;
}

.textBox,.loginBox  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5rem;
    width: 50%;
}

.featuresList{
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.featuresList li {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    color: var(--text);
}

.textBox .icon {
    width: 2rem;
    height: 2rem;
    margin-right: 1.5rem;
    padding: 1rem;
    background-color: var(--icon-bg);
    border-radius: 50%;
    flex-shrink: 0;
}

.textBox h1 {
    font-size: 3rem;
    margin-bottom: 0;
    color: var(--text);
}

.textBox p {
    color: var(--muted-text);
}

.loginBox {
    padding-right: 5rem;
}

.loginBox h2 {
    font-size: 2.5rem;
    margin-bottom: 0;
    color: var(--text);
    align-self: center;
}

.loginBox p {
    color: var(--muted-text);
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    align-self: center;
}

.loginForm {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    background-color: var(--bg);
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px var(--shadow-elev-1);
    border: 1px solid var(--border);
}

.inputGroup {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;
}

.inputGroup label {
    font-weight: 500;
    color: var(--muted);
    padding: 0 4px;
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    transition: font-size 0.2s ease, top 0.2s ease, color 0.2s ease;
}

.inputGroup input {
    padding: 0.75rem 1rem;
    border: 1px solid var(--border);
    border-radius: 0.375rem;
    background-color: var(--input-bg);
    color: var(--text);
    font-size: 1rem;
    outline: none;
}

.inputGroup input:focus ~ label {
    top: -0.1rem;
    font-size: 0.9rem;
    color: var(--color-accent);
    background-color: var(--bg);

}

.inputGroup input:focus {
    border-color: var(--color-accent);
    box-shadow: 0 0 0 3px var(--shadow-elev-1);
}

.loginForm button {
    padding: 0.75rem 1rem;
    background-color: var(--color-btn-primary);
    color: var(--button-text);
    border: none;
    border-radius: 0.375rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.signUp {
    margin-top: 1.5rem;
    display: flex;
    align-self: center;
    justify-self: center;
    color: var(--muted);
    gap: 0.5rem;
}

.signUpLink {
    color: var(--color-accent);
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    font-size: 1.1rem;
}

@media(hover: hover) {
    .loginForm button:hover {
        background-color: var(--color-btn-primary-hover);
    }
}

.loginForm button:disabled {
    background-color: var(--muted);
    cursor: not-allowed;
}

@media (max-width: 768px) {
  .textBox {
    display: none;
  }

  .loginBox {
    width: 100%;
    padding: 2rem;
    justify-content: center;
    align-items: center;
  }

  .loginForm {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
}

