.cardContainer {
    max-width: 220px;
    max-height: 220px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.cardContainer:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.itemImage {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.itemDetails {
    padding: 0 1rem;
    border-top: 1px solid #000000;
}