.navContainer{
    min-height: 64px;
    width: 100%;
    padding: 0.75rem 0;
    background-color: var(--color-navbar)
}

.navbarContent{
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    max-height: 60px;
    cursor: pointer;
}