.profileInfo h2 {
    font-size: 2rem;
    margin: 0;
    color: var(--text);
}

.profileInfo p {
    font-size: 1rem;
    color: var(--muted);
    margin-top: 0.5rem;
    margin-bottom: 0rem;
}

.profileInfo {
    border: 1px solid var(--color-border);
    max-width: 600px;
    width: 80%;
    padding: 3rem 5rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    background-color: var(--bg);
}

.infoItem {
    display: flex;
    gap: 0.5rem;
    font-size: 1.1rem;
    color: var(--text);
}

.editMode .infoItem {
    flex-direction: column;
    gap: 1rem;
}

.infoItem label {
    font-weight: bold;
    color: var(--color-btn-primary);
}

.infoItem input {
    flex: 1;
    padding: 1rem;
    border: 1px solid var(--border);
    border-radius: 5px;
    background-color: var(--input-bg);
    color: var(--text);
    font-size: 1rem;
}

.actionButtons {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
}

.actionButton {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    color: var(--button-text);
    background-color: var(--color-btn-primary);
    transition: background-color 0.3s ease;
}

.errorContainer {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.9rem;
    margin-top: -1rem;
    color: var(--error);
}

.errorMessage {
    color: var(--error);
    font-size: 0.9rem;
    margin: 0;
    word-break: break-word;
    flex-grow: 1;
}

.warningIcon {
    width: 1rem;
    height: 1rem;
    flex-shrink: 0;
}

@media (hover: hover) {
    .actionButton:hover {
        background-color: var(--color-btn-primary-hover);
    }
}
