/* Light Mode */
:root {
  /* Page */
  --color-page: #F9F8F6;
  --color-cards: #EFE9E3;
  --color-border: #D9CFC7;
  --color-accent: #C9B59C;
  --color-navbar: #0B1A2B;
  --color-icons: #ffffff;

  /* Buttons */
  --color-btn-primary: #B89F7F;
  --color-btn-primary-hover: #07121a;
  --color-btn-secondary: #C9B59C;
  --color-btn-secondary-hover: #B0A08A;
  --color-btn-tertiary: #D9CFC7;
  --color-btn-tertiary-hover: #C0B6AD;

  /* Text */
  --text: #121212;
  --muted-text: #6B6159;

  /* Semantic */
  --success: #2DBE6E;
  --warning: #FFB020;
  --error:   #D64545;

  /* Forms / UI */
  --bg: #ffffff;
  --muted: #374151;
  --muted-200: #f3f4f6;
  --muted-50: #f8fafc;
  --input-bg: #ffffff;
  --border: #e5e7eb;
  --button-text: #ffffff;
  --icon-bg: #D9CFC7;
  --search-overlay-bg: #0B1A2B;

  /* Shadows / Elevation */
  --shadow-elev-1: rgba(16, 24, 40, 0.06);
  --shadow-elev-2: rgba(17, 24, 39, 0.06);
}

/* Dark Mode */
:root[data-theme="dark"] {
  /* Page */
  --color-page: #07121a;
  --color-cards: #121414;
  --color-border: #2B2C2B;
  --color-accent: #B89F7F;
  --color-navbar: #07121a;
  --color-icons: #333333;

  /* Buttons */
  --color-text-primary: #EDEDED;
  --color-btn-primary: #B89F7F;
  --color-btn-primary-hover: #153042;
  --color-btn-secondary: #C9B59C;
  --color-btn-secondary-hover: #B8A589;
  --color-btn-tertiary: #232524;
  --color-btn-tertiary-hover: #333433;

  /* Text */
  --text: #F5F5F4;
  --muted-text: #BFB3A9;

  /* Semantic */
  --success: #3EDB84;
  --warning: #FFBF47;
  --error: #FF6B6B;

  /* Forms / UI */
  --bg: #0b1220;
  --muted: #9ca3af;
  --muted-200: #1f2933;
  --muted-50: #111827;
  --input-bg: #0f172a;
  --border: #243044;
  --button-text: #0b1220;
  --icon-bg: #333433;
  --search-overlay-bg: #0b1220;

  /* Shadows / Elevation */
  --shadow-elev-1: rgba(0, 0, 0, 0.45);
  --shadow-elev-2: rgba(0, 0, 0, 0.6);
}


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
  transition: background-color 50000s ease-in-out 0s !important;
  -webkit-text-fill-color: var(--text) !important;
}