@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    background-color: var(--color-page);
}

body, input, button, textarea, select{
    font-family: 'Google Sans', sans-serif;
    font-size: 16px;
}