.profileDropDown {
    position: absolute;
    right: 2%;
    top: 60px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    width: 200px;
    background-color: #0B1A2B;
    border-radius: 7px;
}

.profileDropDown button, .profileDropDown a {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.2s;
    text-decoration: none;
    position: relative;
}

.icon{
    width: 16px;
    height: 16px;
    margin-right: 1rem;
}

.tick{
    color: #ffffff;
    width: 0px;
    height: 0px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.active .tick{
    width: 18px;
    height: 18px;
}