.container{
    min-height: 50vh;
}

.header {
    margin-left: 2rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--text);
}

.header h3 {
    font-weight: normal;
    color: var(--muted-text);
}

.gridContainer {
    padding: 2rem;
}

.itemsGrid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1.5rem;
}

.gridContainer p {
    color: var(--muted-text);
    font-size: 1.1rem;
    text-align: center;
    text-justify: center;
}